<div class="row">
    <!--Menu bar-->
    <div class="col-md-3">
        <div class="app-menu"></div>
    </div>
    <!--PAGE CONTENT-->
    <div class="col-md-9 page-content">
        <h3 class="p-3" style="color: black;">View Products</h3>
        <!--Search bar-->
        <div id="searchbar" >
            <input (keyup)="searchProducts($event)" type="text" id="search" name="searchTerm" class="modal-form-input modal-form-text" placeholder="Search by size, price, etc." />
            <fa-icon id="search-icon" class="m-3 search-icon" [icon]="['fas', 'search']" ></fa-icon>
        </div>

        <hr class="hr hr-blurry m-3" />
        <button class="btn btn-create" data-bs-toggle="modal" data-bs-target="#addFixedProduct">Create New Product</button>
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 165px;" scope="col"></th>
                    <!--Should be product photo, description and product item/price because the user knows where to go to manage
                        the category and item. But they came here to modify products so they should see product specific info-->
                    <th scope="col">Product Category</th>
                    <th scope="col">Product Item</th>
                    <th scope="col">Product Size</th>
                </tr>
            </thead>
            <tbody>                
                <!--Use this row to display messages about data retrieval to the user e.g. error, loading, or no entries found messages-->
                <tr *ngIf="showMessage">
                    <td id="message" colspan="4">Please wait while we load all fixed products...</td>
                </tr>
                <!--Use this row to display message if there's no search results-->
                <tr *ngIf="search">
                    <td id="searchMessage" colspan="4">No fixed products found. Please add a new product to the system.</td>
                </tr>
                <!--Products from API-->
                <tr *ngFor="let prod of filteredTableProducts">
                    <td style="text-align: center;">
                        <button title="View product details" class="CRUD-icon" (click)="openViewProduct(prod)" >
                            <fa-icon [icon]="['fas', 'circle-info']" ></fa-icon>
                        </button>
                        <button title="Delete this product" class="CRUD-icon" >
                            <fa-icon class="m-3" [icon]="['fas', 'trash']" ></fa-icon>
                        </button>
                        <button title="Update this product" class="CRUD-icon" >
                            <fa-icon [icon]="['fas', 'pen-to-square']"></fa-icon>
                        </button>                                              
                    </td>
                    <td>
                        {{prod.categoryDescription}}
                    </td>
                    <td>
                        {{prod.itemDescription}}
                    </td>
                    <td>
                        {{prod.sizeString}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--CRUD MODALS-->
<!--VIEW PRODUCT DETAILS MODAL-->
<div class="modal fade" id="viewProduct" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content" *ngIf="viewProduct != null">

        <!--HEADER-->
        <div class="modal-header">
          <h4 id="modal-title" class="modal-title">{{viewProduct.description}}</h4>
          <button class="close-modal" data-bs-dismiss="modal"><fa-icon [icon]="['fas', 'window-close']"></fa-icon></button>
        </div>

        <!--BODY-->
        <div class="modal-body">
            <div class="display-photo">
                <img id="view-product-photo" class="view-photo" src="data:image/png;base64,{{viewProduct.productPhoto}}" alt=""/>
            </div>
            <span class="bold">Product Item: </span>{{viewProduct.itemDescription}}<br/>
            <span class="bold">Size: </span>{{viewProduct.sizeString}}<br/>
            <span class="bold">Price (per unit): </span>{{viewProduct.price}}<br/>
            <span class="bold">Quantity on hand: </span>{{viewProduct.quantityOnHand}}<br/>
            <span class="bold">Discount: </span>Placeholder 10%<br/>
            <span class="bold">Supplier: </span>Placeholder Boxes and Stuff Co.<br/>
            <div class="display-photo" >
                <img id="view-qrCode" class="view-photo" src="data:image/png;base64,{{viewProduct.qRCodeB64}}" alt={{viewProduct.description}} /><br/>
                <button class="btn btn-create download" (click)="downloadQRCodeAsImage()">
                    <fa-icon style="margin-right: 0.5rem;" [icon]="['fas', 'download']" ></fa-icon>Download QR code
                </button>
            </div>
            <div style="text-align: center;">
            </div>
        </div>        
  
        <!-- Modal footer -->
        <div class="modal-footer justify-content-evenly">
            <button class="btn btn-create modal-form-submit" data-bs-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
</div>