<!--DASHBOARD-->
<div class="row">
    <div class="col-md-3" style="background-color: #3F2F34; height: 100vh;">
        <div class="container">
            <div class="text-center pt-3">
                <h2>Menu</h2>
            </div>
            <pre></pre>
            <pre></pre>
            <pre></pre>
            
            <div class="text-center">
                <button [routerLink]="['/dashboard']" class="btn btn-info text-start">
                    <fa-icon [icon]="['fas', 'home']"></fa-icon>
                    Dashboard
                </button><pre></pre>
                <button class="btn btn-info active text-start">
                    <fa-icon [icon]="['fas', 'boxes']"></fa-icon>
                    Product Category
                </button><pre></pre>
                <button [routerLink]="['/product-item']" class="btn btn-info text-start">
                    <fa-icon [icon]="['fas', 'jug-detergent']"></fa-icon>
                    Product Item
                </button><pre></pre>
                <button class="btn btn-info text-start">
                    <fa-icon [icon]="['fas', 'tape']"></fa-icon>
                    Size
                </button><pre></pre>
                <button class="btn btn-info text-start">
                    <fa-icon [icon]="['fas', 'box']"></fa-icon>
                    Product
                </button><pre></pre>
            </div>
        </div>
    </div>

    <!-- RIGHT SIDE- i.e. PAGE CONTENT -->
    <div class="col-md-9">
        <p>product-category works!</p>
    </div>
</div>