<div class="row">
    <!--SIDE NAVBAR-->
    <div class="col-md-3" style="background-color: #3F2F34; height: 100vh;">
        <div class="container">
            <div class="text-center pt-3">
                <h2>Menu</h2>
            </div>
            <pre></pre>
            <pre></pre>
            <pre></pre>
            
            <div class="text-center">
                <button [routerLink]="['/dashboard']" class="btn btn-info text-start">
                    <fa-icon [icon]="['fas', 'home']"></fa-icon>
                    Dashboard
                </button><pre></pre>
                <button class="btn btn-info active text-start">
                    <fa-icon [icon]="['fas', 'boxes']"></fa-icon>
                    Product Category
                </button><pre></pre>
                <button [routerLink]="['/product-item']" class="btn btn-info text-start">
                    <fa-icon [icon]="['fas', 'jug-detergent']"></fa-icon>
                    Product Item
                </button><pre></pre>
                <button class="btn btn-info text-start">
                    <fa-icon [icon]="['fas', 'tape']"></fa-icon>
                    Size
                </button><pre></pre>
                <button class="btn btn-info text-start">
                    <fa-icon [icon]="['fas', 'box']"></fa-icon>
                    Product
                </button><pre></pre>
            </div>
        </div>
    </div>

    <!-- RIGHT SIDE- i.e. PAGE CONTENT -->
    <div class="col-md-9">
        <h3 class="p-3" style="color: black;">View Product Category</h3>
        <hr class="hr hr-blurry m-3" />
        <button class="btn btn-create" data-bs-toggle="modal" data-bs-target="#addCategory">Create Product Category</button>
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 110px;" scope="col"></th>
                    <th scope="col">Product Category</th>
                </tr>
            </thead>
            <tbody>
                <!--Category data from API-->
                <tr *ngFor="let category of categories">
                    <td>
                        <fa-icon class="m-3" [icon]="['fas', 'trash']"></fa-icon>
                        <fa-icon [icon]="['fas', 'pen-to-square']"></fa-icon>
                    </td>
                    <td>
                        {{category.description}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--CRUD MODALS-->
<!--ADD CATEGORY MODAL-->
<div class="modal fade" id="addCategory" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">

        <!--HEADER-->
        <div class="modal-header">
          <h4 class="modal-title">Create Product Category</h4>
          <button class="close-modal" data-bs-dismiss="modal"><fa-icon [icon]="['fas', 'window-close']"></fa-icon></button>
        </div>

        <!--BODY-->
        <div class="modal-body">
          <form [formGroup]="addCategoryForm">
            <div class="form-group">
                <label for="description" class="form-label modal-form-label">Product Category:</label>
                <input id="add-description" type="text" formControlName="CategoryDescription" class="form-control modal-form-input modal-form-text" placeholder="e.g. Crate" name="description" required>
            </div>
            <div class="form-group">
                <label class="form-check-label modal-form-label">
                    <input id="add-length" formControlName="Length" class="form-check-input modal-form-input" type="checkbox" name="length"> Length
                </label>
            </div>
            <div class="form-group">
                <label class="form-check-label modal-form-label">
                    <input id="add-width" formControlName="Width" class="form-check-input modal-form-input" type="checkbox" name="width"> Width
                </label>
            </div>
            <div class="form-group">
                <label class="form-check-label modal-form-label">
                    <input id="add-height" formControlName="Height" class="form-check-input modal-form-input" type="checkbox" name="height"> Height
                </label>
            </div>
            <div class="form-group">
                <label class="form-check-label modal-form-label">
                    <input id="add-weight" formControlName="Weight" class="form-check-input modal-form-input" type="checkbox" name="weight"> Weight
                </label>
            </div>
            <div class="form-group">
                <label class="form-check-label modal-form-label">
                    <input id="add-volume" formControlName="Volume" class="form-check-input modal-form-input" type="checkbox" name="volume"> Volume
                </label>
            </div>

            <div class="form-submit-div">
                <button data-bs-dismiss="modal" class="btn btn-create modal-form-submit" (click)="addCategory()">Create</button>
            </div>
            
          </form>
        </div>
        
      </div>
    </div>
</div> 