@import "../dashboard/dashboard.component.css";

.btn-create {
    background-color: #D6AD60;
    color: #FFF;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 25px;
    width: fit-content;
}

.btn-create:hover {
    background-color: #a78444;
    color: #FFF;
}

.table {
    margin-left: 25px;
}