<!-- Menu Bar -->
<div class="row">
    <div class="col-md-3">
        <div class="app-menu"></div>
    </div>
    <!-- Dashboard -->
<div class="col-md-9">
    <div class="text-center pt-3 pb-3">
        <h3 style="color: #000000;">Hello,  Ismail Starke</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card" data-clickable="true" style="width: 18rem; background-color: #3186AF;" [routerLink]="'/raw-material'">
                    <div class="card-body text-center">
                        <fa-icon class="fa-icon-large" [icon]="['fas', 'recycle']"></fa-icon>
                        <h5 class="card-title text-center" style="color: #FFF;">Raw Material</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" data-clickable="true" style="width: 18rem; background-color: #47AF31;" [routerLink]="'/supplier'">
                    <div class="card-body text-center">
                        <fa-icon class="fa-icon-large" [icon]="['fas', 'truck']"></fa-icon>
                        <h5 class="card-title text-center" style="color: #FFF;">View Supplier List</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" data-clickable="true" style="width: 18rem; background-color: #31AF99;" [routerLink]="'/size-units'">
                    <div class="card-body text-center">
                        <fa-icon class="fa-icon-large" [icon]="['fas', 'maximize']"></fa-icon>
                        <h5 class="card-title text-center" style="color: #FFF;">Size Units</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Second Row -->
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card" data-clickable="true" style="width: 18rem; background-color: #AF9931;">
                    <div class="card-body text-center">
                        <fa-icon class="fa-icon-large" [icon]="['fas', 'chart-pie']"></fa-icon>
                        <h5 class="card-title text-center" style="color: #FFF;">View Reports</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" data-clickable="true" style="width: 18rem; background-color: #9931AF;" [routerLink]="'/cost-price-formula-variables'">
                    <div class="card-body text-center">
                        <fa-icon class="fa-icon-large" [icon]="['fas', 'square-root-variable']"></fa-icon>
                        <h5 class="card-title text-center" style="color: #FFF;">Cost Price Formula</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" data-clickable="true" style="width: 18rem; background-color: #3186AF;" [routerLink]="'/discount'">
                    <div class="card-body text-center">
                        <fa-icon class="fa-icon-large" [icon]="['fas', 'tags']"></fa-icon>
                        <h5 class="card-title text-center text-white" style="color: #000000;">Discounts</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>    