<div class="row">

<!-- Left Divider -->
<div class="col-md-4" style="background-color: #31AF99; height: 125vh;">
    <div class="container-fluid">
    <div class="text-center">
        <img class="align-center" src="../assets/mega-pack-logo.png" alt="" style="height: 146px; width: 154px; margin-top:30vh">
    </div>
    <h2 class="text-center" style="color: #FFFFFF;">Mega Pack</h2>
    <h6 class="text-center" style="color: #FFFFFF;">All your packaging needs right here in Pretoria</h6>
    </div>
</div>

<!-- Right Divider (User registration form) -->
<div class="col-md-8" style="background-color: #373435; height: 125vh;">
    <h2 class="text-center">Register</h2>
    <div class="row"><!-- User Info Row -->
    <div class="col-md-2">
        <label for="title" class="form-label">Title:</label>
        <input type="text" class="form-control" id="title" placeholder="Mr/Mrs" />
    </div>
    <div class="col-md-5">
        <label for="firstName" class="form-label">First Name:</label>
        <input type="text" class="form-control" id="firstName" placeholder="John" />
    </div>
    <div class="col-md-5">
        <label for="lastName" class="form-label">Last Name:</label>
        <input type="text" class="form-control" id="lastName" placeholder="Doe" />
    </div>
    </div><pre></pre>
    <div class="row"><!-- Contact Details Row -->
    <div class="col-md-6">
        <label for="contactNo" class="form-label">Preferred Contact Number:</label>
        <input type="tel" class="form-control" id="contactNo" placeholder="012 345 6789" />
    </div>
    <div class="col-md-6">
        <label for="email" class="form-label">Email Address:</label>
        <input type="email" class="form-control" id="email" placeholder="johndoe@email.com" />
    </div>
    </div><pre></pre>
    <div class="row"><!-- Password Row -->
    <div class="col-md-12">
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="**********" />
    </div>
    </div><pre></pre>
    <div class="row"><!-- Confirm Password Row -->
    <div class="col-md-12">
        <label for="confirmPassword" class="form-label">Password:</label>
        <input type="password" class="form-control" id="confirmPassword" placeholder="**********" />
    </div>
    </div><pre></pre>
    <div class="row"><!-- Address Line -->
    <div class="col-md-12">
        <label for="address" class="form-label">Address:</label>
        <input type="text" class="form-control" id="address" placeholder="123 Box Street" /><pre></pre>
        <input type="text" class="form-control" id="address" placeholder="" />
    </div>
    </div><pre></pre>
    <div class="row"><!-- isBusiness? -->
    <div class="col-md-12">
        <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="isBusiness">
        <label class="form-check-label" for="isBusiness">
            Are you a registered business? 
        </label>
        </div>
    </div>
    </div><pre></pre>
    <div class="row"><!-- VAT Number -->
    <div class="col-md-5">
        <label for="vatNo" class="form-label">VAT Number:</label>
        <input type="text" class="form-control" id="vatNo" />
    </div>
    </div><pre></pre>
    <pre></pre>
    <pre></pre>
    <div class="row">
    <div class="text-center">
        <div class="col-md-12">
        <button [routerLink]="['/dashboard']" class="btn btn-primary" style="width: 350px; background-color:#31AF99;">
            <strong>Register</strong>
        </button>
        </div>
    </div>
    </div>
</div>
</div>