<div class="row" style="max-width: 100%;">
  <!--Menu bar-->
  <div class="col-md-3">
    <div class="app-menu"></div>
  </div>
  <!--PAGE CONTENT-->
  <div class="col-md-9 page-content">
    <h3 class="p-3" style="color: black;">Customer Estimates</h3>
    <!--Search bar-->
    <div id="searchbar">
      <input type="text" id="search" name="searchTerm" class="modal-form-input modal-form-text"
        placeholder="e.g. Search by ID, customer, status, price" (keyup)="searchEstimates($event)"
        (change)="searchEstimates($event)" />
      <fa-icon id="search-icon" class="m-3 search-icon" [icon]="['fas', 'search']"></fa-icon>
    </div>

    <hr class="hr hr-blurry m-3" />
    <table class="table">
      <thead>
        <tr>
          <th style="width: 120px;" scope="col">Estimate ID</th>
          <th scope="col">Customer</th>
          <th scope="col">Status</th>
          <th scope="col">Price</th>
          <th class="price-col" scope="col">Edit Price</th>
        </tr>
      </thead>
      <tbody>
        <!--Messages to the user-->
        <tr>
          <!--Message if there's no estimates in the DB-->
          <td *ngIf="estimateCount == 0" colspan="5">No customers have requested quotes.</td>
          <!--Loading message while data is still being retrieved from the DB-->
          <td *ngIf="loading" colspan="5">Please wait while we load all estimates...</td>
          <!--Error message-->
          <td *ngIf="error" colspan="5">Error loading data from the database. Please contact support services.</td>
        </tr>
        <!--Category data from API-->
        <tr *ngFor="let estimate of filteredEstimates">
          <td class="text-center">EST{{estimate.estimateID}}</td>
          <td>John LongSurname</td>
          <td>{{estimate.estimateStatusDescription}}</td>
          <td>{{estimate.confirmedTotal | currency: 'ZAR':'symbol-narrow'}} incl. VAT</td>
          <td class="text-center">
            <button title="Edit this estimate" class="btn btn-create btn-edit-price" 
              *ngIf="estimate.estimateStatusID == 1 || estimate.estimateStatusID == 2"
              (click)="openUpdateEstimateModal(estimate.estimateID)">
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--EDIT PRICE MODAL-->
<div class="modal fade" id="editPrice" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
    <div class="modal-content" *ngIf="selectedEstimate != null">

      <!--HEADER-->
      <div class="modal-header">
        <h4 class="modal-title">Edit Price</h4>
        <button class="close-modal" data-bs-dismiss="modal">
          <fa-icon [icon]="['fas', 'window-close']"></fa-icon>
        </button>
      </div>

      <!--BODY-->
      <div class="modal-body">
        <span class="bold" style="font-size: 1.05em;">John LongSurname</span><br />
        <div style="font-size: 0.95em; color: grey;">
          Estimate #: EST{{selectedEstimate.estimateID}} <br />
          Status: {{selectedEstimate.estimateStatusDescription}} <br />
          Date: 23 July 2023<br /><br />
        </div>

        <table id="estimate-details-table" class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Qty</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody id="estimate-details-tbody">
            <tr id="f-{{estLine.fixedProductID}}-{{estLine.quantity}}" *ngFor="let estLine of selectedEstimate.estimate_Lines">
              <td>{{estLine.fixedProductDescription}}</td>
              <td>{{estLine.fixedProductUnitPrice | currency: 'ZAR':'symbol-narrow'}}</td>
              <td>{{estLine.quantity}}</td>
              <td>{{estLine.fixedProductUnitPrice * estLine.quantity | currency: 'ZAR':'symbol-narrow'}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4" class="form-heading">Add new product to quote</td>
            </tr>
            <tr [formGroup]="addEstimateLineForm">
              <td>
                <select id="productID" [(ngModel)]="selectedProductID" formControlName="productID" name="productID"
                  class="form-select modal-form-input modal-form-text table-input estimate-form-select" (change)="changedProduct()">
                  <option disabled value="NA">Select products</option>
                  <option *ngFor="let fp of filteredFixedProducts" value={{fp.fixedProductID}}>{{fp.description}}</option>
                </select>
              </td>
              <td>
                <label for="quantity" class="form-label modal-form-label">Quantity:</label>
              </td>
              <td>
                <input id="quantity" type="number" formControlName="quantity"
                  class="form-control modal-form-input modal-form-text table-input" placeholder="1" name="quantity"
                  required min="1" step="1" max="{{selectedProduct ? 2000000 : 1}}">
              </td>
              <td>
                <button class="btn btn-create estimate-form-submit" (click)="addEstimateLine()">
                  <fa-icon [icon]="['fas', 'plus']"></fa-icon> Add Product
                </button>
              </td>
            </tr>
          </tfoot>
        </table><br />



        <table id="total-table">
          <tr>
            <td class="text-right" style="width: 80%;">Subtotal:</td>
            <td>{{selectedEstimate.getTotalBeforeDiscount() | currency: 'ZAR':'symbol-narrow'}}</td>
          </tr>
          <tr>
            <td class="text-right">Discount:</td>
            <td>-{{selectedEstimate.totalDiscount | currency: 'ZAR':'symbol-narrow'}}</td>
          </tr>
          <tr>
            <td class="text-right"><strong>Total:</strong></td>
            <td>{{selectedEstimate.confirmedTotal | currency: 'ZAR':'symbol-narrow'}}</td>
          </tr>
          <tr>
            <td class="text-right"><strong>Discount after negotiations: </strong></td>
            <td>-{{selectedEstimate.confirmedTotal - negotiatedTotal | currency: 'ZAR':'symbol-narrow'}}</td>
          </tr>
          <tr>
            <td class="text-right"><strong>Confirmed total:</strong></td>
            <td>
              R <input [(ngModel)]="negotiatedTotal" type="number"
                class="form-control modal-form-input modal-form-text table-input" placeholder="0.00"
                name="negotiatedTotal" required min="0" step="0.01" max="{{selectedEstimate.confirmedTotal}}">
            </td>
          </tr>
        </table>
        <div class="form-submit-div">
          <button class="btn btn-create modal-form-submit" data-bs-toggle="modal" data-bs-target="#confirmEdit">Save
            changes</button>
        </div>
      </div>

    </div>
  </div>
</div>

<!--CONFIRM MODAL-->
<div class="modal fade" id="confirmEdit" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content" *ngIf="selectedEstimate != null">

      <!--HEADER-->
      <div class="modal-header">
        <h4 class="modal-title">Confirm</h4>
        <button class="close-modal" (click)="openUpdateEstimateModal(selectedEstimate.estimateID)"><fa-icon
            [icon]="['fas', 'window-close']"></fa-icon></button>
      </div>

      <!--BODY-->
      <div class="modal-body">
        <p class="modal-form-input">Are you sure you want to grant John LongSurname an <strong> additional discount of
          {{selectedEstimate.confirmedTotal - negotiatedTotal | currency: 'ZAR':'symbol-narrow'}}</strong> on the original total of 
          <strong>{{selectedEstimate.confirmedTotal | currency: 'ZAR':'symbol-narrow'}}</strong>? 
          The customer will be notified via email immediately.
        </p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer justify-content-evenly">
        <button (click)="openUpdateEstimateModal(selectedEstimate.estimateID)" class="btn btn-create red-btn modal-form-submit">
          No
        </button>
        <button class="btn btn-create modal-form-submit" (click)="updateEstimate()">Yes</button>
      </div>
    </div>
  </div>
</div>