<div class="app-customer-navbar" style="max-width: 100%;"></div>

<div class="row page-row">
  <div class="col-md-3 col-sm-12 all-categories-menu">
    <app-categories-menu></app-categories-menu>
  </div>

  <!--PAGE CONTENT-->
  <div class="col-md-9 col-sm-9 p-2">
    <h3 class="p-3" style="color: black;">My Quotes</h3>
    <!--Search bar-->
    <!-- <div id="searchbar">
      <input type="text" id="search" name="searchTerm" class="modal-form-input modal-form-text" (keyup)="searchQuotes($event)"
        placeholder="Search quote number, status" />
      <fa-icon id="search-icon" class="m-3 search-icon" [icon]="['fas', 'search']"></fa-icon>
    </div> -->

    <hr class="hr hr-blurry m-3" />
    <!--Messages to user-->
    <div class="m-3 text-center">
      <span *ngIf="loading">Getting your quotes..</span>
      <span *ngIf="error">Error retrieving your quotes from the database</span>
      <span *ngIf="quoteCount == 0 && quoteRequest == null">
        <span class="empty-msg"><fa-icon class="m-3" [icon]="['fas', 'file-invoice']"></fa-icon></span><br />
        No quotes or requests for quote found.
      </span>
    </div>

    <div class="row quotes-container p-1">
      <!--QUOTE REQUEST CARD-->
      <div class="col-md-6 col-sm-12 faux-card-container" *ngIf="quoteRequest != null">
        <div class="faux-card">
          <!--Header-->
          <div class="quote-header mb-4">
            <div class="flex-space-between" style="align-items: end;">
              <span class="title light-bold">Qoute Request #{{quoteRequest.quoteRequestID}}</span>
              Status:
            </div>
            <div class="flex-space-between" style="align-items: start;">
              <span class="date">{{ quoteRequest.dateRequested | date:'d MMM yyyy HH:mm' }}</span>
              <span class="light-bold" style="line-height: 0.9em;">Requested</span>
            </div>
          </div>
          <!--Body-->
          <div class="quote-details">
            <div class="quote-line row" *ngFor="let qrLine of quoteRequest.lines">

              <!--For fixed products-->
              <div class="product-img-container col-4" *ngIf="qrLine.isFixedProduct">
                <img class="product-img" alt="No preview available"
                  src="{{qrLine.productFileB64 != '' ? 'data:image/png;base64,' + qrLine.productFileB64 : ''}}" />
                <!-- <img *ngIf="quoteLine.fileType =='undefined' || quoteLine.fileType =='application/pdf'" 
                  class="product-img" alt="No preview available" /> -->
              </div>

              <!--For custom products-->
              <div class="product-img-container col-4 download-container" *ngIf="!qrLine.isFixedProduct"
                (click)="downloadFile(qrLine.productFileB64, qrLine.productDescription)">
                <img class="{{qrLine.productFileB64 != '' ? 'product-img download-img' : 'product-img'}}"
                  alt="No preview available"
                  src="{{qrLine.fileType == 'image/jpg' ? 'data:image/jpg;base64,' + qrLine.productFileB64 : ''}}" />
                <div class="download-overlay" *ngIf="qrLine.productFileB64 != ''">
                  <div class="download-btn">
                    <fa-icon style="margin-right: 0.5rem;" [icon]="['fas', 'download']"></fa-icon><br />Download
                  </div>
                </div>
              </div>

              <div class="col-8">
                <span class="light-bold">{{qrLine.productDescription}}</span><br />

                <div class="quote-line-footer flex-space-between">
                  Qty: {{qrLine.quantity}}
                </div>
              </div>
            </div>
          </div>

          <!--Footer-->
          <hr class="footer-divider pb-2">
        </div>
      </div>

      <!--QUOTE CARDS-->
      <div class="col-md-6 col-sm-12 faux-card-container" *ngFor="let quote of filteredQuotes">
        <div class="faux-card">
          <!--Header-->
          <div class="quote-header mb-4">
            <div class="flex-space-between" style="align-items: end;">
              <span class="title light-bold">Qoute #{{quote.quoteID}}</span>
              Status:
            </div>
            <div class="flex-space-between" style="align-items: start;">
              <span class="date">{{ quote.dateGenerated | date:'d MMM yyyy HH:mm' }}</span>
              <span class="quote-status">{{quote.quoteStatusDescription}}</span>
            </div>
          </div>
          <!--Body-->
          <div class="quote-details">
            <div class="quote-line row" *ngFor="let quoteLine of quote.lines">

              <!--For fixed products-->
              <div class="product-img-container col-4" *ngIf="quoteLine.isFixedProduct">
                <img class="product-img" alt="No preview available"
                  src="{{quoteLine.productFileB64 != '' ? 'data:image/png;base64,' + quoteLine.productFileB64 : ''}}" />
                <!-- <img *ngIf="quoteLine.fileType =='undefined' || quoteLine.fileType =='application/pdf'" 
                  class="product-img" alt="No preview available" /> -->
              </div>

              <!--For custom products-->
              <div class="product-img-container col-4 download-container" *ngIf="!quoteLine.isFixedProduct"
                (click)="downloadFile(quoteLine.productFileB64, quoteLine.productDescription)">
                <img class="{{quoteLine.productFileB64 != '' ? 'product-img download-img' : 'product-img'}}"
                  alt="No preview available"
                  src="{{quoteLine.fileType == 'image/jpg' ? 'data:image/jpg;base64,' + quoteLine.productFileB64 : ''}}" />
                <div class="download-overlay" *ngIf="quoteLine.productFileB64 != ''">
                  <div class="download-btn">
                    <fa-icon style="margin-right: 0.5rem;" [icon]="['fas', 'download']"></fa-icon><br />Download
                  </div>
                </div>
              </div>

              <div class="col-8">
                <span class="light-bold">{{quoteLine.productDescription}}</span><br />

                <div class="quote-line-footer flex-space-between">
                  Qty: {{quoteLine.quantity}}
                  <span class="price">
                    {{quoteLine.confirmedUnitPrice | currency: 'ZAR':'symbol-narrow'}}
                  </span>
                </div>
                Total: {{quoteLine.confirmedUnitPrice * quoteLine.quantity | currency: 'ZAR':'symbol-narrow'}}
              </div>
            </div>
          </div>

          <!--Footer-->
          <hr class="footer-divider pb-2">
          <div class="totals">
            <table>
              <tr>
                <td>Subtotal:</td>
                <td>{{quote.totalBeforeVAT | currency: 'ZAR':'symbol-narrow'}}</td>
              </tr>
              <tr>
                <td>VAT:</td>
                <td>+{{quote.totalVAT | currency: 'ZAR':'symbol-narrow'}}</td>
              </tr>
              <tr class="total-divider">
                <td colspan="2"></td>
              </tr>
              <tr class="light-bold">
                <td>Total:</td>
                <td>{{quote.getTotalAfterVAT() | currency: 'ZAR':'symbol-narrow'}}</td>
              </tr>
            </table>
            <div *ngIf="quote.quoteStatusID == 1"><!--status 1 = Generated-->
              <div class="buttons flex-space-between">
                <button class="btn btn-reject" (click)="openRejectModal(quote.quoteID)">Reject Quote</button>
                <button title="Buy now" class="btn btn-accept" (click)="acceptQuote(quote)">Accept Quote</button>
              </div>
              <div style="text-align: center;">This quote expires on <span class="light-bold">{{ quote.dateExpiring |
                  date:'ccc, d MMM yyyy' }}</span>.</div>
            </div>
            <div *ngIf="quote.quoteStatusID == 5" class="text-center light-bold"><!--status 5 = Expired-->
              This quote has expired.
            </div>
            <!-- <div class="buttons" style="margin: auto;"  *ngIf="quote.statusDescription == 'Pending review'">
              <button title="I don't want to negotiate price anymore" class="btn btn-reject" (click)="cancelQuote(quote.ID)">Cancel</button>
            </div> -->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="app-footer"></div>

<!--REJECT QUOTE MODAL-->
<div class="modal fade" id="rejectQuote" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">

      <!--HEADER-->
      <div class="modal-header">
        <h4 class="modal-title">Reject Quote</h4>
        <button class="close-modal" data-bs-dismiss="modal"><fa-icon
            [icon]="['fas', 'window-close']"></fa-icon></button>
      </div>

      <!--BODY-->
      <div class="modal-body">
        <form [formGroup]="rejectQuoteForm" style="margin-top: 0.5em;">
          <input type="hidden" formControlName="quoteID">

          <div class="form-group">
            <label for="rejectReasonID" class="form-label modal-form-label bold">Please tell us why you're rejecting
              this quote:</label>
            <select id="rejectReasonID" [(ngModel)]="rejectReasonId" formControlName="rejectReasonID"
              class="form-select modal-form-input modal-form-text" (click)="changedRejectReason()">
              <option *ngFor="let reason of rejectReasons" value={{reason.rejectReasonID}}>{{reason.description}}
              </option>
            </select>
          </div>

          <div class="form-group" id="choose-img" *ngIf="rejectReasonId == 1">
            <!--1 = I got a better price elsewhere. Can you beat it?-->
            <div class="bold">Upload the quote you received from a competitor (image or pdf):</div>
            <label class="form-label btn-create btn download">
              <input id="priceMatchFileB64" type="file" accept=".pdf,image/*" formControlName="priceMatchFileB64"
                name="priceMatchFileB64" style="display: none;" (change)="showImageName($event)" />
              Upload file
            </label>
            <span id="imageName" class="imageName"> </span>
            <span *ngIf="noFileSelected" class="imageName" style="color: #E33131;">No file selected. Please upload quote
              from competitor.</span>
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer justify-content-evenly">
        <button data-bs-dismiss="modal" class="btn btn-create modal-form-submit">Cancel</button>
        <button class="btn btn-create red-btn modal-form-submit" (click)="rejectQuote()">{{rejectBtnText}}</button>
      </div>
    </div>
  </div>
</div>