@import "../../dashboard/dashboard.component.css";
@import "../../product-category/product-category.component.css";

.page-content {
  margin: 0;
  padding: 0;
  padding-left: 1em;
}

/*FAKE CARD STYTLING*/
.faux-card {
  margin: 10px;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
  border-radius: 5px;
  font-size: 0.95em;
  font-weight: normal;
  color: #777777;
  font-size: 98%;
}

.faux-card-container {
  padding: 0;
}

.light-bold {
  font-weight: 600;
  color: black;
}

.quote-status {
  font-weight: 600;
  color: black;
  line-height: 0.9em;
  text-align: right;
}

.title {
  font-size: 110%;
}

.date {
  font-size: 90%;
}

.quote-details {
  margin-top: 10px;
}

.hide {
  display: none;
}

.quote-line {
  margin: 10px 0 5px 0;
}

.product-img-container { text-align: center; position: relative; }

.product-img { 
  max-width: 100%;
  max-height: 99%;
}

/*STYLING FOR DOWNLOAD CUSTOM PROD FILE BTN*/
.download-img {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.download-overlay {
  cursor: pointer;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.download-container:hover .download-img {
  opacity: 0.2;
}

.download-container:hover .download-overlay {
  opacity: 1;
}

.download-btn { color: black; }

.quote-line-footer {
  margin-top: 0.65em;
}

.footer-divider {
  opacity: 0.2;
  margin-top: 0;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

table {
  width: 100%;
  text-align: right;
}

.negotiated {
  color: #32AF99;
}

td {
  padding-right: 5px;
  line-height: 1.1em;
}

.total-divider {
  height: 10px;
  border: none;
  border-top: double;
  border-top-color: rgba(0, 0, 0, 0.2);
}

.buttons {
  margin: 0.5em !important;
  padding-top: 0.5em;
  text-align: center;
}

.buttons button {
  color: white;
  border: none;
  border-radius: 15px;
  padding: 5px 20px;
  font-size: 75%;
  font-weight: normal;
}

.btn-accept {
  background-color: #32AF99;
}

.btn-accept:hover,
.btn-accept:active {
  background-color: #268372;
}

/* MAKE REJECT BUTTON LOOK LIKE A BUTTON */
.btn-reject {
  background-color: #E33131;
}

.btn-reject:hover,
.btn-reject:active {
  background-color: #a92626;
}

/*MAKE REJECT BUTTON LOOK LIKE AN 'UNSUBSCRIBE FROM OUR EMAILS BUTTON'
.btn-reject {
  color: #E33131;
  text-decoration: underline;
  font-size: 80%;
  margin-top: -5px;
  cursor: pointer;
  font-weight: normal;
} */

.download {
  background-color: white;
  border: 1px solid #32AF99;
  color: #32AF99;
  /* color: #373435; */
  margin-left: 0;
  padding: 2px 1rem;
  margin-bottom: 1rem;
}

.download:hover {
  background-color: #32AF99;
  color: white;
}

.imageName { margin-left: 0.75em; font-size: 85%; }

#invoice-container {
  width: 90%; 
  padding: 1rem; 
  margin: auto; 
  font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.invoice-block {
  width: 48%;
  display: inline-block;
  margin: 1rem;
  margin-left: 0;
  padding: 1rem 0.5rem;
  background-color: white;
  border: 1px solid black;
}

.small-block { height: 25vh; }

.right { float: right; margin: 1rem 0; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.full { width: 100%; }
.half { width: 40%; display: inline-block; }
.fit { width: fit-content;}

#invoice-lines thead th {
  border-bottom: 1px solid black;
}

#invoice-lines tbody tr td {
  padding: 0.25em 0.5em;
}

.footer-block { height: 20vh; }

.footer-table { display: inline-block; }

.footer-table tr td {
  padding-right: 0.75rem;
  padding-bottom: 0.5em;
  width: fit-content;
}

#invoice-totals { width: 100%; text-align: right; }

#invoice-totals tr td {
  padding: 0.25em 0.75rem;
}

#invoice-totals tr td:first-child {
  border-right: 1px solid black;
}

/* .red-outline {
  background-color: white;
  border: 1px solid #E33131;
  color: #E33131;
}

.red-outline:hover {
  background-color: #E33131;
  color: white;
} */