
<div class="row page-row">
  <!-- Menu bar -->
  <div class="col-md-2"> <!-- Adjust the width as needed -->
    <div class="app-menu"></div>
  </div>
  <div class="col-md-10"> <!-- Use the remaining space for the calendar and Unscheduled Orders -->
    <div class="calendar-wrapper">
      <div class="calendar">
        <div class="calendar-header">
          <h2 class="monthHeading" contenteditable="true" (blur)="updateMonthYear($event)">{{ currentMonth | date: 'MMMM y' }}</h2>
        </div>
        
        <div>
          <button (click)="previousMonth()" class="previousMonth">Previous Month</button>
        </div>
        <div>
          <button (click)="nextMonth()" class="nextMonth">Next Month</button>
        </div>
        <div class="calendar-table-wrapper">
          <table class="calendar-table">
            <thead class="fixed-header">
              <tr>
                <th *ngFor="let day of daysOfWeek">{{ day }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let week of weeks">
                <td *ngFor="let day of week" class="calendar-cell"
                    [ngClass]="{'current-day': isCurrentDay(day?.date || 0), 'inactive-day': !day.isActive}"
                    cdkDropList
                    (cdkDropListDropped)="onDropEvent($event)">
                    {{ day?.date }}
                    <div class="event-title" *ngIf="day.event">
                        <span class="red-dot"></span>{{ day.event.customerFullName  }}
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>  
    </div>
  </div>
</div>




