.heading{
    text-align: center;
}
.backArrow{
    background-color: #2c3e50;
}
.backArrow .hover-text {
    display: none;
    background-color: white;
  }
  
  /* When hovering over the button, shows the hover-text span */
  .backArrow:hover .hover-text {
    display: inline; /* or display: inline-block; depending on your desired layout */
  }