@import "node_modules/bootstrap/dist/css/bootstrap.css";

.page-content {
    margin-left: 260px;
}

/*If I don't declare this class globally, it won't be applied*/
.remove-pic { 
    all: unset;
    color: rgba(255, 0, 0, 0.65);
    text-decoration: underline;
    font-size: 80%;
    margin-left: 1.5rem;
    border: 0;
    outline: 0;
    background-color: transparent;
}