@import "../dashboard/dashboard.component.css";
@import "../product-category/product-category.component.css";
@import "../quotes/quotes.component.css";

.view-photo {
    width: 20%;
    max-width: 25%;
    height: auto;
    max-height: 25%;
    margin-top: 10px;
}

input[type='checkbox'] {
    border-color: #41A0B5;
}

#left, #right { width: 50%; display: inline-block; }

#right { text-align: right; float: right; }

.totals tr td { padding-top: 0.5rem; }