<div class="row">
    <div class="col-md-3 col-sm-12 all-categories-menu">
        <app-categories-menu></app-categories-menu>
    </div>
    <!--PAGE CONTENT-->
    <div class="col-md-9 col-sm-12 p-2">
        <h3 class="p-3" style="color: black;">Cartons</h3>
        <!--PRODUCTS-->
        <div id="product-cards" class="row">
            <!--CARD-->
            <div class="col-md-3 col-sm-6 card-container">
                <div class="card product-card">
                    <div class="card-img-top">
                        <img class="card-img product-card-img" src="../../../assets/box.jpg" alt="Single wall box">
                    </div>
                    <div class="card-body product-card-body">
                        <p class="card-text">Single Wall Box</p>
                    </div>
                </div>
            </div>
            
            <!--CARD-->
            <div class="col-md-3 col-sm-6 card-container">
                <div class="card product-card">
                    <div class="card-img-top">
                        <img class="card-img product-card-img" src="../../../assets/box.jpg" alt="Single wall box">
                    </div>
                    <div class="card-body product-card-body">
                        <p class="card-text">Double Wall Box</p>
                    </div>
                </div>
            </div>
            
            <!--CARD-->
            <div class="col-md-3 col-sm-6 card-container">
                <div class="card product-card">
                    <div class="card-img-top">
                        <img class="card-img product-card-img" src="../../../assets/box.jpg" alt="Single wall box">
                    </div>
                    <div class="card-body product-card-body">
                        <p class="card-text">Triple Wall Box</p>
                    </div>
                </div>
            </div>
            
            <!--CARD-->
            <div class="col-md-3 col-sm-6 card-container">
                <div class="card product-card">
                    <div class="card-img-top">
                        <img class="card-img product-card-img" src="../../../assets/box.jpg" alt="Single wall box">
                    </div>
                    <div class="card-body product-card-body">
                        <p class="card-text">Quadruple Wall Box</p>
                    </div>
                </div>
            </div>
            
            <!--CARD-->
            <div class="col-md-3 col-sm-6 card-container">
                <div class="card product-card">
                    <div class="card-img-top">
                        <img class="card-img product-card-img" src="../../../assets/box.jpg" alt="Single wall box">
                    </div>
                    <div class="card-body product-card-body">
                        <p class="card-text">Pentaple Wall Box</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>