<div class="app-customer-navbar" style="max-width: 100%;"></div>

<div class="row page-row">
  <div class="col-md-3 col-sm-12 all-categories-menu">
    <app-categories-menu></app-categories-menu>
  </div>

  <!--PAGE CONTENT-->
  <div class="col-md-9 col-sm-9 p-2">
    <h3 class="p-3" style="color: black;">Place Order</h3>
    <h5 class="p-3">Orders are as easy as 1, 2 3!</h5>
    <!--Progress bar-->
    <div class="progress">
      <div id="bar" class="progress-bar" style="width: 0%; background-color: #32AF99;"></div>
    </div>

    <!--Tabs-->
    <form [formGroup]="placeOrderForm">
      <div class="row tab" *ngIf="tab == 1">
        <h6>Choose delivery type</h6>

        <div class="form-group">
          <label for="pickUp" class="form-label modal-form-label">
            <input id="pickUp" type="radio" name="deliveryType" formControlName="deliveryType" value="Pick up">Pick up
          </label><br />

          <label for="delivery" class="form-label modal-form-label">
            <input id="delivery" type="radio" name="deliveryType" formControlName="deliveryType" value="Delivery">Delivery
          </label><br />

          <div style="margin-bottom: 0.5em;" class="form-group" *ngIf="deliveryType?.value == 'Delivery'">
            <label for="address" class="form-label modal-form-label bold">Is this the correct shipping address?</label>
            <input id="address" type="text" formControlName="shippingAddress" class="form-control modal-form-input modal-form-text" required>
          </div>
          
          Deliveries are free. We try to deliver within 24 hours of order placement.
        </div>
      </div>

      <div class="row tab" *ngIf="tab == 2">
        <h6>Choose payment type</h6>

        <div class="form-group">
          <label for="immediate" class="form-label modal-form-label">
            <input id="immediate" type="radio" name="paymentType" formControlName="paymentType" value="Pay immediately">Pay immediately
          </label><br />

          <label for="cash" class="form-label modal-form-label">
            <input id="cash" type="radio" name="paymentType" formControlName="paymentType" value="Cash on delivery">Cash on delivery
          </label><br />

          <label for="credit" class="form-label modal-form-label">
            <input id="credit" type="radio" name="paymentType" formControlName="paymentType" value="Credit" [attr.disabled]="!creditAllowed ? 'disabled' : null">Credit
          </label><br />
          <span *ngIf="!creditAllowed">Your credit balance is insufficient / you aren't approved for credit.
            You can <a>apply for credit</a>.</span>
        </div><br />
      </div>

      <div class="row tab" *ngIf="tab == 3">
        <h6>Confirm</h6>

        You are ordering:<br/><br/>

        <table id="quote-details-table" class="table">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Qty</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody id="quote-details-tbody">
            <tr *ngFor="let line of quote.lines">
              <td>{{line.productDescription}}</td>
              <td>{{line.confirmedUnitPrice | currency: 'ZAR':'symbol-narrow'}}</td>
              <td>{{line.quantity}}</td>
              <td>{{line.confirmedUnitPrice * line.quantity | currency: 'ZAR':'symbol-narrow'}}</td>
            </tr>
          </tbody>
          <tfoot id="tfoot">
            <tr>
              <td colspan="3" class="text-right" style="width: 80%;">Subtotal:</td>
              <td>{{quote.totalBeforeVAT | currency: 'ZAR':'symbol-narrow'}}</td>
            </tr>
            <tr>
              <td colspan="3" class="text-right">VAT:</td>
              <td>{{quote.totalVAT | currency: 'ZAR':'symbol-narrow'}}</td>
            </tr>
            <tr style="font-weight: bold;">
              <td colspan="3" class="text-right">Total:</td>
              <td>{{quote.getTotalAfterVAT() | currency: 'ZAR':'symbol-narrow'}}</td>
            </tr>
          </tfoot>
        </table><br />

        <!-- <table id="total-table">
          <tr>
            <td class="text-right" style="width: 80%;">Subtotal:</td>
            <td>{{quote.totalBeforeVAT | currency: 'ZAR':'symbol-narrow'}}</td>
          </tr>
          <tr>
            <td class="text-right">VAT:</td>
            <td>{{quote.totalVAT | currency: 'ZAR':'symbol-narrow'}}</td>
          </tr>
          <tr style="font-weight: bold;">
            <td class="text-right">Total:</td>
            <td>{{quote.getTotalAfterVAT() | currency: 'ZAR':'symbol-narrow'}}</td>
          </tr>
        </table><br /> -->
        <div *ngIf="paymentType?.value == 'Credit'">
          This order is payable on {{creditBalanceDue | date:'ccc, d MMM yyyy' }}
        </div>

        <div *ngIf="paymentType?.value != 'Credit'">
          <h6>PayFast</h6>
        </div>
      </div>

      <div class="form-progress-div">
        <button *ngIf="tab == 1" class="btn btn-create btn-red" (click)="cancel()">Cancel</button>
        <button *ngIf="tab > 1" class="btn btn-create" (click)="changeTab('previous')">Previous</button>
        <button *ngIf="tab != 3" class="btn btn-create btn-next" (click)="changeTab('next')">Next</button>
        <button *ngIf="tab == 3" class="btn btn-create btn-order" (click)="placeOrder()">ORDER ></button>
      </div>
    </form>
  </div>
</div>

<div class="app-footer"></div>