@import "../../dashboard/dashboard.component.css";
@import "../../product-category/product-category.component.css";
@import "../../generate-quote/generate-quote.component.css";

/*Progress bar styling*/
#progress-container {
    width: 90%;
    display: flex;
    margin-top: 20px;
}

#progress-container li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #32AF99;
    width: 33.3%;
    position: relative;
}

.progress-icon {
    font-size: 24px;
    color: #32AF99;
    margin: 0 20px;
}

.progress-label {
    font-size: 1.1em;
    font-weight: 600;
    color: #32AF99;
}

.step {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #a7a7a7;
    margin: 13px 0;
    display: grid;
    place-items: center;
    color: white;
    position: relative;
}

.progress-counter {
    font-size: 0.8em;
    justify-content: center;
    line-height: 30px;
}

.step-after {
    position: absolute;
    width: 100%;
    height: 7px;
    background-color: #a7a7a7;
    align-self: flex-start;
    z-index: -1;
    left: 50%;
    top: 60px;
}

.progress-check {
    display: none;
}

/*Current progress bar step*/
.active-step { box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }

.active-step .progress-counter { font-weight: 600; font-size: 1em; }

/*Completed progress bar step */
.complete { background-color: #32AF99; }

.complete .progress-counter { display: none; }

.complete .progress-check { display: flex; }

.step-complete {
    width: 0%;
    height: 100%;
    background-color: #32AF99;
    animation: progressBar 1500ms ease-in-out;
    animation-fill-mode: both;
}

@keyframes progressBar {
    0% { width: 0; }
    100% { width: 100%; }
}

.tab {
    padding: 1.5em;
}

h6 {
    padding-bottom: 10px;
}

input[type='radio'] {
    margin-right: 5px;
}

.form-progress-div {
    display: flex;
    justify-content: space-between;
    padding: 1.25em;
}

.btn-create {
    margin: 0;
    padding: 0 15px;
}

.btn-order {
    padding: 1px 20px;
    background-color: #32AF99;
}

.btn-order:hover, .btn-order:active { background-color: #2a9783;}

.btn-next { background-color: #e7a427; }

.btn-next:hover, .btn-next:active { background-color: #d59724;}

.btn-red { background-color: #E33131; }

.btn-red:hover, .btn-red:active { background-color: #a92626; }

.light-bold {font-weight: 600;}

#tfoot tr td { border: none; }

/*Responsive progress bar*/
@media (max-width: 768px) {
    #progress-container { width: 100%; }

    .progress-label {font-size: 0.9em;}
}