<!-- Menu Bar -->
<div class="row">
    <div class="col-md-3">
        <div class="app-menu"></div>
    </div>
    <!-- Dashboard -->
<div class="col-md-9">
    <div class="container mt-4">
        <h2 class="display-6">Messages</h2>
        <div>
        <table class="table table-striped table-hover table-borderless mt-4">
            <thead>

            </thead>
            <tbody>
                <tr>
                    <td colspan="2">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn" (click)="clearMessages()">
                                <fa-icon class="fa-icon-large" [icon]="['fas', 'trash']"></fa-icon>
                            </button>
                            <button type="button" class="btn" (click)="refreshMessages()">
                                <fa-icon class="fa-icon-large" [icon]="['fas', 'refresh']"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            <tr *ngFor="let message of messages; let i = index">
                <td><small>{{ message.messageDate | date: 'hh:mm:ss a'}}</small></td>
                <td><small>{{message.message}}</small></td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-danger" (click)="clearAllMessages()">Clear Messages</button>
        </div>
      </div>
</div>