<div class="app-customer-navbar" style="max-width: 100%;"></div>

<div class="row page-row">
  <div class="col-md-3 col-sm-12 all-categories-menu">
    <app-categories-menu></app-categories-menu>
  </div>

  <!--PAGE CONTENT-->
  <div class="col-md-9 col-sm-9 p-2">
    <h3 class="p-3" style="color: black;">View Order History</h3>
    <!--Search bar-->
    <div id="searchbar">
      <input type="text" id="search" name="searchTerm" class="modal-form-input modal-form-text"
        placeholder="Search order number, status" (keyup)="searchOrders($event)" />
      <fa-icon id="search-icon" class="m-3 search-icon" [icon]="['fas', 'search']"></fa-icon>
    </div>

    <hr class="hr hr-blurry m-3" />

    <!--Track order-->
    <div style="width: 100%;">
      <img id="track-order" src="../../../assets/Track order.png" alt="How to track your order">
    </div>

    <!--Messages to user-->
    <div class="m-3" style="text-align: center;">
      <span *ngIf="error">Error retrieving your orders</span>
      <span *ngIf="loading">Getting your past orders...</span>
      <span *ngIf="orderCount == 0">No orders found</span>
    </div>
    
    <div class="row quotes-container p-1">

      <!--ORDER CARD-->
      <div class="col-md-6 col-sm-12 faux-card-container" *ngFor="let order of filteredOrders">
        <div class="faux-card">
          <!--Header-->
          <div class="quote-header mb-4">
            <div class="flex-space-between" style="align-items: end;">
              <span class="title light-bold">Order #{{order.customerOrderID}}</span>
              Status:
            </div>
            <div class="flex-space-between" style="align-items: start;">
              <span class="date">{{order.date | date:'ccc, d MMM yyyy'}}</span>
              <span class="light-bold" style="line-height: 0.9em;">{{order.orderStatusDescription}}</span>
            </div>
          </div>
          <!--Body-->
          <div class="quote-details">
            <div class="quote-line row"  *ngFor="let orderLine of order.orderLines">
              <div class="product-img-container col-4">
                <img class="product-img" src="data:image/png;base64,{{orderLine.productFileB64}}" alt="" />
              </div>
              <div class="col-8">
                <span class="light-bold">{{orderLine.productDescription}}</span><br />
                <span>Status: <span class="light-bold" [ngClass]="{'placed': orderLine.statusID == 1, 'in-progress': orderLine.statusID == 2}">
                  {{orderLine.statusDescription}}</span>
                </span>

                <div class="quote-line-footer flex-space-between">
                  Qty: {{orderLine.quantity}}
                  <span class="price">
                    {{orderLine.confirmedUnitPrice | currency: 'ZAR':'symbol-narrow'}}
                  </span>
                </div>
                Total: {{orderLine.confirmedUnitPrice * orderLine.quantity | currency: 'ZAR':'symbol-narrow'}}
              </div>
            </div>
          </div>

          <!--Footer-->
          <hr class="footer-divider pb-2">
          <div class="totals">
            <table>
              <tr>
                <td>Subtotal:</td>
                <td>{{order.totalBeforeVAT | currency: 'ZAR':'symbol-narrow'}}</td>
              </tr>
              <tr>
                <td>VAT:</td>
                <td>+{{order.totalVAT | currency: 'ZAR':'symbol-narrow'}}</td>
              </tr>
              <tr class="total-divider">
                <td colspan="2"></td>
              </tr>
              <tr class="light-bold">
                <td>Total:</td>
                <td>{{order.getTotalAfterVAT() | currency: 'ZAR':'symbol-narrow'}}</td>
              </tr>
            </table>
            <!-- status 1 = placed and 2 = in progress-->
            <div class="buttons" style="margin: auto;" *ngIf="order.orderStatusID == 1 || order.orderStatusID == 2">
              <button class="btn btn-reject" (click)="warnCustomer(order.customerOrderID)">Cancel order</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="app-footer"></div>