<div class="row page-row">
  <!--Menu bar-->
  <div class="col-md-3">
    <div class="app-menu"></div>
  </div>
  <!--PAGE CONTENT-->
  <div class="col-md-9 page-content">
    <h3 class="p-3" style="color: black;">Deliver / Collect Order {{order == null ? '' : '#' + order.customerOrderID}}</h3>

    <hr class="hr hr-blurry m-3" />
    <!--Messages to user-->
    <div class="messages p-3" *ngIf="error">
      <span *ngIf="error">Error retrieving data. Please check the code.</span>
    </div>

    <div *ngIf="!error" class="p-3">
      <div *ngIf="code == ''">
        <!--Holds QR Code scanner-->
        <div id="scanner" class="scanner"></div>
      
        <div class="scanner is-not-scanning" (click)="startScan()" *ngIf="!isScanning">
          <!-- Scanning UI -->
          <!-- Corner things -->
          <div id="top-left" class="corner"></div>
          <div id="top-right" class="corner"></div>
          <div id="bottom-left" class="corner"></div>
          <div id="bottom-right" class="corner"></div>
      
          <!-- Show before scanning has started -->
          <div id="tap-text" class="scan-text" *ngIf="!finishedScan && !errorScan">
            <fa-icon class="large-text" [icon]="['fas', 'qrcode']"></fa-icon><br /> Click / Tap <br /> to scan QR Code
          </div>
      
          <!-- Error scanning -->
          <div id="error-text" class="scan-text" *ngIf="errorScan">
            <fa-icon style="color: #E33131;" class="large-text" [icon]="['fas', 'circle-xmark']"></fa-icon><br /> Error
            scanning
            <br /> Enter code manually
          </div>
      
          <!-- Finished Scan UI -->
          <div id="finishedScan" class="scan-text" *ngIf="finishedScan">
            <!--Apply animations to divs-->
            <div id="finishedIcon">
              <fa-icon class="large-text" [icon]="['fas', 'check-circle']"></fa-icon>
            </div>Scan successful
          </div>
        </div>
      </div>

      <form [formGroup]="deliveryForm">
        <!--Enter code section-->
        <div *ngIf="code == ''">
          <div class="form-group">
            <div id="codeEntryPrompt" [ngClass]="{'strongShake': promptManual}">
              <label for="code" class="form-label modal-form-label bold">Enter alphanumericcode that appears below QR Code:</label>
            </div>
            <input id="code" type="text" formControlName="code" minlength="13" maxlength="20"
              class="form-control modal-form-input modal-form-text">
            
              <!--Display validation error message-->
            <div *ngIf="(codeInput?.dirty || codeInput?.touched) && codeInput?.errors?.['required']" class="error-msg">
              The code should have between 13 and 20 characters.
            </div>
          </div>
  
          <button id="submitCode" class="btn btn-create modal-form-submit" (click)="captureCode()" >Submit code</button>
        </div>

        <div *ngIf="code != ''">
          <div class="form-group">
            <label for="deliveryType" class="form-label modal-form-label bold">Delivery type:</label>
            <input id="deliveryType" type="text" formControlName="deliveryType"
              class="form-control modal-form-input modal-form-text">
          </div>
  
          <div class="form-group">
            <label for="paymentType" class="form-label modal-form-label bold">Payment type:</label>
            <input id="paymentType" type="text" formControlName="paymentType"
              class="form-control modal-form-input modal-form-text">
          </div>
  
          <div class="form-group" *ngIf="cashOnDelivery">
            <label for="amount" class="form-label modal-form-label bold">Amount:</label>
            <input id="amount" type="text" formControlName="amount" class="form-control modal-form-input modal-form-text">
          </div>
  
          <div class="form-group" id="choose-img">
            <div class="bold">Upload delivery photo:
              <!--Tooltip-->
              <button class="tooltip-icon">
                <fa-icon [icon]="['fas', 'question']"></fa-icon>
                <span class="tooltip-text">
                  Please ensure the customer's hands and order number are visible and legible in the photo.<br/>
                  <div class="tooltip-example">
                    Example 1:
                    <img class="tooltip-img" src="../../assets/correct.png" alt="Image of customer's hand holding delivery" />
                    <div class="example-icon">
                      <fa-icon [icon]="['fas', 'check']"></fa-icon>
                    </div>
                  </div>

                  <div class="tooltip-example">
                    Example 2:
                    <img class="tooltip-img" src="../../assets/correct full.png" alt="Image of customer holding delivery" />
                    <div class="example-icon">
                      <fa-icon [icon]="['fas', 'check']"></fa-icon>
                    </div>
                  </div>

                  <div class="tooltip-example">
                    Example 3:
                    <img class="tooltip-img" src="../../assets/wrong.png" alt="Image of customer holding delivery" />
                    <div class="example-icon" style="background-color: #E33131;">
                      <fa-icon [icon]="['fas', 'x']"></fa-icon>
                    </div>
                  </div>

                </span>
                <span class="tooltip-arrow"></span>
              </button>
            </div>

            <div class="form-group" id="choose-img" class="display-photo">
              <div>
                <img id="display-img" src="{{deliverySrc}}" alt="{{deliveryAlt}}" class="view-photo" />
              </div>
              <label class="form-label btn-create btn download">
                <input id="deliveryPhoto" type="file" accept="image/*" formControlName="deliveryPhoto" name="deliveryPhoto"
                  style="display: none;" (change)="showImageName($event)" />
                Upload file
              </label>
              <span id="imageName" class="imageName"> </span>
              <span *ngIf="noFileSelected" class="imageName" style="color: #E33131;">No image selected. Please upload image.</span>
              <span *ngIf="invalidFile" class="imageName" style="color: #E33131;">Invalid file type chosen. Only photos
                (.jpg, .png) are permitted.</span>
            </div>
            
          </div>
  
          <button class="btn btn-create modal-form-submit" (click)="deliverOrder()" [disabled]="submitted">Complete
            order <span *ngIf="submitted" class="loader"></span></button>
        </div>
      </form>
    </div>
  </div>
</div>