@import "../dashboard/dashboard.component.css";
@import "../product-category/product-category.component.css";

.scanner {
    width: 100%;
    height: 100%;
}

.download {
    background-color: white;
    border: 1px solid #32AF99;
    color: #32AF99;
    /* color: #373435; */
    margin-left: 0;
    padding: 2px 1rem;
    margin-bottom: 1rem;
  }
  
  .download:hover {
    background-color: #32AF99;
    color: white;
  }
  
  .imageName { margin-left: 0.75em; font-size: 85%; }

  .modal-form-submit {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 2em;
  }
  