@import "../dashboard/dashboard.component.css";
@import "../product-category/product-category.component.css";

.btn-new-quote {
  padding: 1px 12px;
  margin: 0;
}

.new-quote-col {
  text-align: center;
  width: 120px;
}

.text-right {
  text-align: right;
}

#quote-details-table { margin: 0; }

/* #total-table {
  width: 100%;
}

#total-table tr td {
  padding-right: 5px;
  line-height: 1.2em;
} */

.totals {
  width: 100%;
  text-align: right;
}

.totals tr td {
  padding-right: 5px;
  line-height: 1.1em;
}

.totals-label { width: 80%; }

.total-divider {
  border: none;
  border-top: double;
  border-top-color: rgba(0, 0, 0, 0.2);
}

.totals-qty { text-align: left; padding: 0 0.5rem; }

.quote-form-submit, .quote-form-submit:hover, .quote-form-submit:active {
  margin: 0;
  background-color: #00d2af;
  color: white;
}

.quote-form-submit:hover { background-color: #00b99a; }

.form-heading { 
  border-bottom: none;
  font-size: 1.15em;
  font-weight: 500;
  padding-bottom: 0;
  padding-top: 2px;
}

.table-input {
  max-width: 90%;
  padding: 2px 5px;
  display: inline;
  margin: 0;
}

.quote-form-select { max-width: 100%;}