<div class="row">

  <!--SIDE NAVBAR-->

  <div class="col-md-2">

    <div class="app-menu"></div>

  </div>

  <!--Right Side-->

  <div class="col-md-10">

    <h3 class="p-3" style="color: black;">    </h3>

    
    </div>
<div class="container" >
  <h2>Log Supplier Return</h2>
  <form [formGroup]="SupplierReturnForm">
    <!-- Supplier Name dropdown that gets all Supplier names for the user to select -->
    <div class="form-group">
      <label for="chooseSupplier">Select Supplier:</label>
      <select id="chooseSupplier" formControlName="supplierID" name="supplierID" aria-label="Default select example" class="form-select modal-form-input modal-form-text">
        <option disabled value="NA">Please select a Supplier</option>
        <option *ngFor="let supplier of suppliers" [value]="supplier.supplierID">{{ supplier.name }}</option>
      </select>
    </div>

    <!-- Product Type dropdown that shows Raw Materials/Fixed Products for the user to select -->
    <div class="form-group">
      <label for="chooseProductType">Select Product Type:</label>
      <select id="chooseProductType" [(ngModel)]="selectedValue" (ngModelChange)="onProductTypeChange()" formControlName="productType" name="productType" aria-label="Default select example" class="form-select modal-form-input modal-form-text">
        
        <option value="Fixed Product">Fixed Product</option>
        <option value="Raw Material">Raw Material</option>
      </select>
    </div>

    <!-- Product Items dropdown that gets all Product Items stored in the DB for what the user selected in product type -->
    <div class="form-group">
      <label for="prodItemID">Select Product Item:</label>
      <select id="prodItemID" formControlName="prodItemID" name="prodItemID" aria-label="Default select example" class="form-select modal-form-input modal-form-text" (change)="onProductItemChange()"> 

        <option disabled value="NA">Choose a Product Item</option>
      
        <ng-container *ngIf="selectedValue === 'Fixed Product'">
          <option *ngFor="let fixed of fixedProducts" [value]="fixed.fixedProductID">{{fixed.description}}</option>
        </ng-container>
      
        <ng-container *ngIf="selectedValue === 'Raw Material'">
          <option *ngFor="let raw of rawMaterials" [value]="raw.rawMaterialID">{{raw.description}}</option>
        </ng-container>
      </select>
    </div>

    <!-- Quantity Input Field which increases the Quantity on hand attribute for either Raw material or fixed product -->
    <div class="form-group">
      <label for="quantity">Enter Quantity To Return:</label>
      <input id="quantity" type="number" formControlName="quantity" class="form-control modal-form-input modal-form-text" placeholder="0" 
        name="quantity" required min="0" step="1">
    </div>

    <!-- Save Order button -->
    <div style="justify-content:center; display: flex;">
    <button  (click)="ReturnProduct()" class="btn-create"  data-bs-toggle="modal" data-bs-target="#feedback" >Return Supplier Order</button>
  </div>
  </form>

  
</div>
</div>

<div class="modal fade" id="feedback" tabindex="-1" >
<div class="modal-dialog modal-dialog-centered modal-lg">
<div class="modal-content">
<div class="modal-header" >
<div style="position: absolute; top: 10px; right: 30px;"> 
  <span class="close-modal" data-bs-dismiss="modal" id="close"><fa-icon [icon]="['fas', 'window-close']" ></fa-icon></span> 
  </div> <!--<fa-icon [icon]="['fas', 'window-close']"></fa-icon>-->
</div>
     <!--BODY-->
<div class="modal-body">
  <p class="modal-form-input bold">{{feedback}}</p>
  
</div>        

<!-- Modal footer -->

</div>
</div>
<div class="modal-backdrop fade show" id="backdrop" style="display: none;"></div>
  
  