@import "../../dashboard/dashboard.component.css";
@import "../../product-category/product-category.component.css";

.all-categories-menu {
    height: max-content;
}

.special-card {
    text-align: left;
    border: 0.5px solid rgba(219, 219, 219, 0.25);
}

.no-hover { 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.special-img {
    max-height: 100%;
    text-align: center;
}

.special-card-img {
    width: auto;
    max-width: 99%;
    max-height: 95%;
}

.special-card-body {
    padding: 0.25em;
    padding-top: 0;
    max-height: fit-content;
}

#sizes-p {
    margin-bottom: 0.5em;
}

#sizes-list {
    padding: 0;
}

#sizes-list li {
    list-style-type: none;
    margin-bottom: 20px;
}

#sizes-list li:last-child {
    margin-bottom: 0px;
}

.price {
    font-size: 150%;
}

.btn-add-cart {
    background-color: #32AF99;
    border-radius: 45px;
    padding-left: 25px;
    padding-right: 25px;
    color: #FFFFFF;
    width: fit-content;
}

.btn-add-cart:hover {
    background-color: #2d9884;
}

.btn-customise { background-color: #e7a427; }

.btn-customise:hover { background-color: #d39623; }

button:disabled {
    opacity: 0.7;
}

.out-of-stock {
    width: 90%;
    background-color: #e7a427;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 4px;
    font-weight: 600;
}

.strikethrough {
    text-decoration: line-through;
    font-size: 100%;
    color: grey;
    font-weight: normal;
}

#discount {
    font-size: 110%;
    background-color: #e7a427;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 4px;
    font-weight: 500;
    margin-left: 20PX;
}

#related-products-container {
    margin: 2em .25em;
}

.success-msg {
    font-size: 90%;
    margin: 3px 0 10px 0;
    padding: 0;
    color: #32AF99;
}

.not-clickable { cursor: default; }

/*CUSTOMISE PRODUCT FORM*/
.customise-input {
    display: inline-block;
    width: 55%;
    margin-left: .5em;
    margin-right: .25em;
    padding: 1px 2px;
}

.customise-hr { margin: 0; margin-bottom: 1rem; }

.download {
    background-color: white;
    border: 1px solid #32AF99;
    color: #32AF99;
    /* color: #373435; */
    margin-left: 0;
    padding: 2px 1rem;
    margin-bottom: 1rem;
}

.download:hover {
    background-color: #32AF99;
    color: white;
}

.imageName { margin-left: 0.75em; font-size: 85%; }

/*CSS GENERATED BOX*/
.customised-box { position: relative; }

.preview {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateX(-20deg);
    animation: rotateBox 15s linear infinite;
    width: 100%;
    height: 100%;
    min-height: 15em;
}

@keyframes rotateBox {
    to {
        transform: rotateX(-20deg) rotateY(360deg);
    }
}

.face {
    position: absolute;
    background: #ca9864;
    overflow: hidden;
}

/*100mm = 1em
Max length that can be displayed = 15em aka 1500mm aka 150cm
Max width that can be displayed = 15em aka 1500mm aka 150cm
Max height that can be displayed = 15em aka 1500mm aka 150cm
*/
.front, .back {
    background: #ca9864;
    width: 10em; /*box length*/
    height: 8em; /*box height*/
}

.front { transform: translateZ(2.5em); } /* half of box width */

.back { transform: translateZ(-2.5em); } /* half of box width */

.left, .right {
    background: #d8aa77;
    width: 5em; /*box width*/
    height: 8em; /*box height*/
}

.left { transform: translateX(-5em) rotateY(90deg); } /* half of box length */

.right { transform: translateX(5em) rotateY(90deg); } /* half of box length */

.top, .bottom {
    background: #e8bb84;
    width: 10em; /*box length*/
    height: 5em; /*box width*/
}

.top { transform: translateY(-4em) rotateX(90deg); } /*half of box height*/

.bottom { transform: translateY(4em) rotateX(90deg); } /*half of box height*/

.front span, .back span, .top span {
    position: absolute;
    background: #bd8c58;
}

.top span {
    /*tape on top of box*/
    height: 100%;
    width: 1em; /*box length divided by 10*/
    left: 50%;
    transform: translateX(-50%);
}

.front span, .back span {
    /*tape on the front and back sides of box*/
    height: 2em; /*box height divided by 4*/
    width: 1em; /*box length divided by 10*/
    left: 50%;
    transform: translateX(-50%);
}

.front span::before, .back span::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1em;
    background: #ca9864;
    left: 0;
    bottom: -0.5em; /*box length divided by 20*/
    transform: rotate(45deg);
}

.preview-text {
    font-size: 70%; 
    text-align: center;
    line-height: 1.1em;
    position: absolute;
    bottom: 1em;
}