@import "../../dashboard/dashboard.component.css";
@import "../../product-category/product-category.component.css";

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  text-decoration: underline;

}

ul.navbar li.cart {
  float: left;
}

ul.navbar li.cart a {
  padding: 5px 10px;
}

ul.navbar li.cart a i {
  font-size: 20px;
  color: white;
}

.cart {
  position: relative;
}

.cart a {
  display: inline-block;
  position: relative;
  padding: 10px;
}

.cart i {
  font-size: 20px;
}

.cart-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  background-color: #333;
  border-radius: 50%;
  color: white;
}

.cart-icon fa-icon {
  font-size: 20px;
}

.page-content {
  margin: 0;
  padding: 0;
  padding-left: 1em;
}

/*FAKE CARD STYTLING*/
.faux-card {
  margin: 10px;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
  border-radius: 5px;
  font-size: 0.95em;
  font-weight: normal;
  color: #777777;
  font-size: 98%;
}

.faux-card-container {
  padding: 0;
}

.light-bold {
  font-weight: 600;
  color: black;
}

.title {
  font-size: 110%;
}

.date {
  font-size: 90%;
}

.estimate-details {
  margin-top: 10px;
}

.hide {
  display: none;
}

.estimate-line {
  margin: 10px 0 5px 0;
}

.product-img-container { text-align: center;}

.product-img {
  width: fit-content;
  max-width: 100%;
  max-height: 80px;
  margin: auto;
}

.estimate-line-footer {
  margin-top: 0.65em;
}

.footer-divider {
  opacity: 0.2;
  margin-top: 0;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

table {
  width: 100%;
  text-align: right;
}

.negotiated {
  color: #32AF99;
}

td {
  padding-right: 5px;
  line-height: 1.1em;
}

.total-divider {
  height: 10px;
  border: none;
  border-top: double;
  border-top-color: rgba(0, 0, 0, 0.2);
}

.buttons {
  margin: 0.5em !important;
  padding-top: 0.5em;
  text-align: center;
}

.buttons button {
  color: white;
  border: none;
  border-radius: 15px;
  padding: 5px 20px;
  font-size: 75%;
  font-weight: normal;
}

.btn-accept {
  background-color: #32AF99;
}

.btn-accept:hover,
.btn-accept:active {
  background-color: #268372;
}

/* MAKE REJECT BUTTON LOOK LIKE A BUTTON */
.btn-reject {
  background-color: #E33131;
}

.btn-reject:hover,
.btn-reject:active {
  background-color: #a92626;
}

/*MAKE REJECT BUTTON LOOK LIKE AN 'UNSUBSCRIBE FROM OUR EMAILS BUTTON'
.btn-reject {
  color: #E33131;
  text-decoration: underline;
  font-size: 80%;
  margin-top: -5px;
  cursor: pointer;
  font-weight: normal;
} */